.text-center {
  text-align: center; }

body {
  background-color: #F1F5F8; }

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.content {
  flex: 1 0 auto; }

.btn-row {
  text-align: center;
  padding: 2rem; }

.form-row {
  margin-top: 3rem;
  display: flex;
  justify-content: center; }

.dashboard {
  display: flex; }

.db-side-panel {
  background-color: #1C3D5A;
  height: 100vh;
  min-width: 25rem;
  position: relative; }

.dbsp-branding {
  height: 7rem;
  background-color: #DE751F;
  padding: 0.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .dbsp-branding__logo {
    margin: 0.8rem;
    width: 5rem;
    height: 5rem; }
  .dbsp-branding__text {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0.1rem 0.2rem #22292F;
    text-transform: uppercase;
    font-size: 2rem;
    margin-right: 2rem; }

.dbsp-footer {
  position: absolute;
  bottom: 0;
  height: 6.2rem;
  width: 100%;
  border-top: 0.02rem solid #DE751F;
  display: flex;
  align-items: center; }
  .dbsp-footer__help-box {
    background-color: #DE751F;
    width: 8.2rem;
    height: 3rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem 2rem;
    color: #fff; }
  .dbsp-footer__help-text {
    margin-left: 0.6rem;
    font-size: 1.7rem; }

.dbsp-mainnav {
  padding: 3rem 1rem; }

.dbsp-navlink {
  height: 5rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.08rem;
  color: #fff; }
  .dbsp-navlink:link, .dbsp-navlink:visited {
    text-decoration: none;
    color: #fff; }
  .dbsp-navlink:hover, .dbsp-navlink:active {
    text-decoration: none;
    color: #DE751F; }
  .dbsp-navlink__icon {
    text-align: center;
    margin-left: 1.6rem; }

.footer {
  margin-top: auto;
  text-align: center;
  flex-shrink: 0; }

.form {
  padding: 3rem;
  margin: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #B8C2CC;
  border-radius: 4px;
  box-shadow: 0 0.3rem 0.6rem #B8C2CC;
  width: 60%;
  background-color: #fff; }
  .form__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #606F7B; }
  .form__link-para {
    padding: 2rem; }
  .form__link {
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.1rem;
    cursor: pointer; }
    .form__link:link, .form__link:visited {
      color: #2779BD; }
    .form__link:hover, .form__link:active {
      color: #DE751F;
      text-decoration: none; }

.formbtn, .formbtn:visited, .formbtn:link {
  padding: 1rem 7rem;
  background-color: #DE751F;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 999px;
  transition: all 0.2s;
  text-decoration: none;
  border: none;
  text-shadow: 0 0.1rem 0.1rem #3D4852; }

.formbtn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem #B8C2CC;
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

.formbtn:active, .formbtn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem #B8C2CC; }

.formbtn__row {
  padding: 2rem; }

.logo {
  padding: 0.1rem;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%; }

.logo img {
  padding: 0.6rem;
  margin-bottom: 2rem; }

.navbar__outer {
  background-color: #1C3D5A;
  height: 9rem; }

.navbar__inner {
  height: 100%; }

.navbar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  height: 100%; }

.navbar__item {
  flex: 1; }

.navbar__link {
  color: #FFED4A;
  padding: 0 1.5rem;
  border-right: 1px solid #B8C2CC; }
  .navbar__links-box {
    margin-right: 1rem; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    display: inline-block; }
  .navbar__link:hover {
    color: #DE751F; }
  .navbar__link:last-child {
    border-right: none; }
  .navbar__link-active {
    color: #DE751F !important; }
