$orange: #DE751F;
$orange-dark: #613B1F;
$yellow: #FFED4A;
$blue: #2779BD;

$gray-dark: #3D4852;
$gray-medium: #606F7B;
$gray: #B8C2CC; 
$gray-light: #F1F5F8;

$black: #22292F;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);