.text-center {
  text-align: center;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-jc-center {
  display: flex;
  justify-content: center;
}

.ml-2 {
  margin-left: 3rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-2 {
  margin: 2rem 0;
}

.w60 {
  width: 60%;
}

.w80 {
  width: 80%;
}

.odd-row {
  border-style: solid;
  border-color: $gray;
  border-width: 0.1rem 0;
  padding: 1rem;
}

.font-3rem {
  font-size: 3rem;
}