.btn {
  text-transform: uppercase;
  transition: all 0.2s;
  text-decoration: none;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem $gray;
    text-decoration: none;
    color: $white;
    cursor: pointer;
  }

  &:focus, &:active {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem $gray;
  }
}

.active-btn {
  background-color: $orange !important;
}

.formbtn {
  &,
  &:visited,
  &:link {
    padding: 1rem 7rem;
    background-color: $orange;
    color: $white;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 999px;
    transition: all 0.2s;
    text-decoration: none;
    border: none;
    text-shadow: 0 0.1rem 0.1rem $gray-dark;
  }
  
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem $gray;
    text-decoration: none;
    color: $white;
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem $gray;
  }

  &__row {
    padding: 2rem;
  }

}

.pool-opt-btn {
  background-color: $blue;
  color: $white;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.form-opt-btns {
  margin: 2.5rem 0;
  height: 8rem;
}