.dbcp-log-calendar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow: scroll;

  &__title {
    font-size: 5rem;
    color: $blue-dark;
    font-weight: 100;
    border-bottom: 2px solid $orange;
    width: 20rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  &__months {
    width: 80%;
    display: flex;
    flex-direction: column;
    // outline: 1px dotted blue;
  }

  &__month {
    // outline: 1px dotted green;
    text-align: left;
    padding-left: 15rem;
    font-size: 3rem;
    min-width: 100%;
    text-decoration: none;
    color: $blue-dark;
    cursor: pointer;

    &-icon {
      margin-right: 3rem;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    & a {
      color: $blue-dark;

      &:link, &:visited, &:active {
        text-decoration: none;
        color: $blue-dark;
      }

      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }

  &__weeks {
    padding: 1rem 9rem;
  }

  &__days-text {
    display: inline-block;
  }

  &__days-box {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    margin-bottom: 3rem;
  }

  &__day {
    width: 18rem;
    margin-left: 1rem;
    display: inline-block;
  }
}