.db-content-panel {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: (75vw);
  height: 100vh;
  position: absolute;
  left: 25rem;
  top: 0;
  overflow: scroll;
  padding-top: 3rem;
}