.form {
  padding: 3rem;
  margin: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: $gray;
  border-radius: 4px;
  box-shadow: 0 0.3rem 0.6rem $gray;
  width: 60%;
  background-color: $white;

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: $gray-medium;
  }

  &__link-para {
    padding: 2rem;
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.1rem;
    cursor: pointer;

    &:link, &:visited {
      color: $blue;
    }

    &:hover, &:active {
      color: $orange;
      text-decoration: none;
    }
  }
}