.navbar {
  &__outer {
    background-color: $blue;
    height: 9rem;
  }

  &__inner {
    height: 100%;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    margin: auto;
    position: relative;
    height: 100%;
  }

}
