.navbar {
  &__outer {
    background-color: $blue-dark;
    height: 9rem;
  }

  &__inner {
    height: 100%;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    height: 100%;
  }

  &__item {
    flex: 1;
  }

}
