.navbar {
  &__outer {
    background-color: $blue;
  }

  &__inner {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

}
